<div class="container py-5">
  <%# どのブランドへの投稿かをタイトルで表示 %>
  <h2><%= @brand.name %> について投稿</h2>

  <%= form_with model: [@brand, @post], local: true do |f| %>
    <div class="form-group mt-3">
      <%= f.file_field :image, class: "form-control" %>
      <%= f.text_area :content, class: "form-control mt-2", placeholder: "感想を入力" %>
    </div>
    <%= f.submit "投稿する", class: "btn btn-primary mt-3" %>
  <% end %>

  <%= link_to "メーカー選択へ戻る", brands_path, class: "text-muted mt-3 d-block" %>
</div>