<%# app/views/posts/search.html.erb %>

<h2>⚽検索結果⚽</h2>

<% if @posts.present? %>
  <table class="table">
    <thead>
      <tr>
        <th>投稿者</th>
        <th>ブランド名</th>
        <th>スパイク名</th>
        <th>感想</th>
        <th>ポジション</th>
        <th>詳細</th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.user&.nickname || "ユーザー不明" %></td>
          <td><%= post.brand.name %></td>
          <td><%= post.spike_name %></td>
          <td><%= post.content %></td>
          <td><%= post.user.position %></td>
          <td><%= link_to '詳細', post_path(post), class: 'btn btn-success btn-sm' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>該当する投稿は見つかりませんでした。</p>
<% end %>

<%= link_to "一覧に戻る", brand_posts_path(params[:brand_id] || Brand.first), class: "btn btn-primary" %>

<div class="text-center" style="margin-top: 200px; margin-bottom: 50px;">
  <%= image_tag 'kicklog_logo.png', alt: 'ロゴ画像', class: 'img-fluid', style: 'max-width: 250px;' %>
</div>