<h1>ユーザー編集</h1>

<%# エラーメッセージ表示部分 %>
<% if @user.errors.any? %>
  <div style="color: red;">
    <%= @user.errors.count %>件のエラーがあります:
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @user, url: admin_user_path(@user), method: :patch do |f| %>
  <p>ニックネーム: <%= f.text_field :nickname %></p>
  <p>メールアドレス: <%= f.email_field :email %></p>
  <p>ポジション: <%= f.select :position, ["GK", "DF", "MF", "FW"], { include_blank: "選択してください" } %></p>
  <div class="field mb-3">
    <%= f.label :play_style %><br />
    <%= f.select :play_style, 
        ["ストライカー（ワンタッチゴール・オフザボール）", "ターゲットマン・ポストプレー", "ドリブラー", "パサー", "デュエル・ボール奪取", "ビルドアップ", "オーバーラップ", "セービング", "未定"], 
        { include_blank: "選択してください" } %>
  </div>
  <%= f.submit "更新する" %>
<% end %>

<%= link_to "詳細へ戻る", admin_user_path(@user) %>